/*Main-------------*/

*{
	font-weight: bolder;
	color:white;
	font-size:20px;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
}

#gameScreen{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 500px;
	height: 700px;
	background-image:url(../images/ui/background.png);
	background-size: 100% 100%;
}

#play{
	width: 100%;
	height:100%;
	z-index: 200;
	position: relative;
	top:0px;
	left:0px;
	background-size:100% 100%;
	background-image:url(../images/ui/play.png);
}

#static{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
}

html,body{
	height: 100%;
	overflow: hidden;
}

html{
	background: linear-gradient(to right, #272727,#151515,#272727);
}

/*Game---------------*/

/*Tiers*/

.divisions{
	margin-bottom: 10px;
	min-height: 120px;
	border-radius: 10px;
	top:50px;
	display: none;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 60%;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2f3237), to(#27292c));
	background: -webkit-linear-gradient(#2f3237, #27292c);
	background: -moz-linear-gradient(#2f3237, #27292c);
	background: -o-linear-gradient(#2f3237, #27292c);
	background: linear-gradient(#2f3237, #27292c);
	border:5px inset #585858;
}

.visible{
	display: block;
}

/*Buttons*/

#leftButtons{
	top:50px;
	left: 0px;
	height: 360px;
	width: 60px;
	position: absolute;
	background-image:url(../images/ui/leftButtons.png);
}

#rightButtons{
	top:50px;
	right: 0px;
	height: 360px;
	width: 60px;
	position: absolute;
	background-image:url(../images/ui/rightButtons.png);
}

.tierButtons{
	width: 60px;
	height: 60px;
}

.tierButtons:hover{
	background: rgba(0,123,187,0.3)
}

.tierButtons:active{
	background: rgba(20,20,20,0.3)
}

/*Items*/

.items{
	background-size:100% 100%;
	background-image: url(../images/items/items.png);
	cursor: pointer;
	border-radius: 5px;
	height: 50px;
	width: 50px;
	display: inline-block;
	margin: 10px 0px 0px 10px;
}

.unlocked>.items{
	margin: 0px;
}

.items:hover{
	box-shadow: 0px 0px 0px 2px rgba(255, 176, 20, 1);
}

.items:active{
	box-shadow: 0px 0px 0px 2px rgba(71, 180, 28, 1);
}

/*Info box*/

#infoBox{
	position: absolute;
	margin-left: 20%;
	margin-right:20%;
	top:73%;
	width: 60%;
	height: 150px;

}

#currentItem{
	border-radius: 4px;
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url(../images/items/items.png);
}

#currentItemName{
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	position: absolute;
	left:70px;
	top:12px;

}

#unlockedItems{
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	position: absolute;
	right: 20px;
	top:12px;
}

/*Extra*/

.unlockedPrompt{
	position: relative;
	z-index: 50;
	margin:10px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#56565c), to(#4c4d53));
	background: -webkit-linear-gradient(#56565c, #4c4d53);
	background: -moz-linear-gradient(#56565c, #4c4d53);
	background: -o-linear-gradient(#56565c, #4c4d53);
	background: linear-gradient(#56565c, #4c4d53);
	border:5px outset #7a7a7a;
	border-radius: 10px;
	margin: auto;
	margin-top: 10px;
	width: 200px;
	padding: 10px;
}

.unlockedItem{
	border-radius: 4px;
	display:inline-block;
	height: 50px;
	width: 50px;
}

.unlockedName{
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	position: absolute;
	left:70px;
	top:25px;
	display: inline-block;
}

#messages{
	top:0px;
	left:20%;
	position: absolute;
	width: 60%;
}

#helper{
	top:0px;
	cursor: pointer;
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.extraButtons{
	padding: 5px;
	cursor: pointer;
	bottom:20px;
	text-align: center;
	border-radius: 10px;
	border:4px ridge #626b5e;
	position: absolute;
	height: 25px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3965af), to(#23457e));
	background: -webkit-linear-gradient(#3965af, #23457e);
	background: -moz-linear-gradient(#3965af, #23457e);
	background: -o-linear-gradient(#3965af, #23457e);
	background: linear-gradient(#3965af, #23457e);
}

.extraButtons:hover{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9e00), to(#ffcb00));
	background: -webkit-linear-gradient(#ff9e00, #ffcb00);
	background: -moz-linear-gradient(#ff9e00, #ffcb00);
	background: -o-linear-gradient(#ff9e00, #ffcb00);
	background: linear-gradient(#ff9e00, #ffcb00);
}

#easy{
	height: 7%;
	width: 20%;
	font-size: 1.5em;
	top:50%;
	left:40%;
}

#hard{
	font-size: 1.5em;
	height: 7%;
	width: 20%;
	top:65%;
	left:40%;
}

#helpButton{
	left:0%;
}

#creditsButton{
	left:40%;
}

#end{
	display: none;
	z-index: 200;
	background: white;
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
}

.endText{
	text-align: center;
	width:60%;
	color: black;
	margin:5% 20% 0% 20%;
}

/*Screen*/

@media only screen and (max-height:750px) {
	#gameScreen{
		margin-top:0px;
	}
}

@media only screen and (max-width : 479px) {
	#gameScreen{
		margin:0px;
		width: 100%;
		height: 100%;
	}
}