/*Main-------------*/

*{
	padding: 0px;
	margin: 0px;
}

/*Game---------------*/

.items{
	border-radius: 5px;
	border:5px solid black;
	height: 40px;
	width: 40px;
	background: green;
	display: inline-block;
	margin: 3px;
}